html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: arial;
}

html {
    background-image: url(/sandbox\ 3/img/bg.jpg);
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

body {
    overflow: scroll;
}

a {
    text-decoration: none;
}

#wrapper {
    display: flex;
}

#sidebar {
    position: fixed;
    height: 100%;
    width: 75px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: width .25s;
    background: rgb(32,32,32);
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    height: 75px;
    transition: background .1s;
}

.icon {
    width: 28px;
}

.sidebar-icon {
    position: absolute;
    padding-right: 23.5px;
    filter: invert() brightness(50%);
}

.download-icon {
    margin-right: 10px;
    filter: invert();
}

.sidebar-item p {
    opacity: 0;
    color: gray;
    padding-right: 27.5px;
    transition: padding .25s, opacity .25s;
}

.sidebar-item:hover {
    background: rgb(64,64,64);
}

.sidebar-item:hover p {
    padding-right: 75px;
    opacity: 1;
}

#sidebar:hover {
    width: 180px;
}

#content {
    margin: auto;
    color: white;
    text-shadow: 0 0 10px black;
}

#middle-content {
    margin-left: 75px;
}

#middle-content h1 {
    font-size: 50px;
}

#middle-content p {
    font-size: 20px;
}

#downloads-container {
    display: grid;
    grid-template-columns: 1fr auto;
    max-width: 1275px;
    margin: auto;
}

.downloads-grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.5);
    margin: 5px;
    padding: 15px;
}

.downloads-grid-item h2 {
    margin-bottom: 0;
}

#header-container {
    display: grid;
    grid-template-columns: 1fr 57.5% 1fr;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#header {
    grid-column-start: 2;
    grid-column-end: 3;
}

button p {
    color: white;
    width: 100%;
}

button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: none;
    background: gray;
    border-radius: 5px;
    height: 64px;
    width: 250px;
    transition: background 0.2s;
}

button:hover {
    background: rgb(64,64,64);
    cursor: pointer;
}

button:focus {
    outline: 0;
}

@media screen and (max-width: 1500px) {
    #header-container {
        display: grid;
        grid-template-columns: 1fr 65% 1fr;
    }
}

@media screen and (max-width: 1175px) {
    #header-container {
        display: grid;
        grid-template-columns: 1fr 72.5% 1fr;
    }
}

@media screen and (max-width: 875px) {
    #header-container {
        display: grid;
        grid-template-columns: 1fr 80% 1fr;
    }

    #downloads-container {
        grid-template-columns: 1fr;
    }
}

@media (hover: none) {
    #sidebar:hover {
        width: 75px;
    }

    .sidebar-item:hover {
        background: none;
    }
    
    .sidebar-item:hover p {
        opacity: 0;
    }
    
    button:hover {
        background: gray;
    }

    button:active {
        background: rgb(64,64,64);
    }
}