html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: arial;
}

body {
    height: auto;
    background: url(assets/images/bg.jpg), rgba(0, 0, 0, 0.15);
    background-blend-mode: darken;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

::selection {
    background: plum;
}

p, a, h1, h2 {
    color: white;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar-list li {
    font-size: 25px;
    margin-bottom: 35px;
}

#navbar-list li:hover {
    cursor: pointer;
}

#navbar-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

h1 {
    font-size: 50px;
}

hr {
    width: 100%;
    border: 1px solid white;
}

nav {
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background: rgba(32,32,32);
    height: 100vh;
    width: 150px;
    padding-left: 75px;
    padding-right: 75px;
    transition: margin .25s;
}

#main {
    margin-left: 300px;
    width: calc(100% - 300px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main p {
    font-size: 20px;
}

.content {
    width: 100%;
    height: 100%;
    transition: opacity .25s;
    align-items: center;
    flex-direction: column;
}

#content-home {
    justify-content: center;
    height: 100vh;
}

header {
    width: 50vw;
    margin: 50px;
    text-align: center;
}

.content-main {
    max-width: 1620px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 25px;
}

article {
    display: grid;
    height: 300px;
    overflow: hidden;
}

article:hover img {
    filter: brightness(0.5);
}

article:hover .text {
    height: calc(100% - 20px) !important;
}

article img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    grid-area: 1 / 1;
    transition: filter .25s;
}

article .text {
    stroke: black 1px 1px;
    z-index: 1;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    grid-area: 1 / 1;
    transition: height .5s;
}

article .text p, article .text h2 {
    margin: 0;
}

article .text h2 {
    margin-bottom: 10px;
}

article .gradient {
    z-index: 1;
    background: linear-gradient(transparent 50%, rgba(0,0,0,0.5));
    grid-area: 1 / 1;
}

/*
span {
    display: inline-block;
    opacity: 0;
    transform: translate(0, -20px);
    transition: opacity .5s, transform .5s;
}
*/

/* Javascript */

.invisible {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.bold {
    font-weight: bolder;
}

.hamburger-menu {
    display: none;
    z-index: 3;
    position: fixed;
    background-size: cover;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    transition: transform 250ms, opacity 250ms;
}

.hamburger-menu:hover {
    cursor: pointer;
}

#open {
    background: url(assets/images/icons/menu.png);
}

#close {
    opacity: 0;
    background: url(assets/images/icons/close.png);
}

.shown {
    margin-left: 0;
}

@media screen and (max-width: 600px) {
    .shown {
        margin-left: -300px;
    }

    #main {
        margin-left: 0;
        width: 100%;
    }

    .hamburger-menu {
        display: block;
    }

    header {
        width: 75vw;
    }
}

@media screen and (max-width: 950px) {
    .content-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (min-width: 951px) and (max-width: 1260px) {
    .content-main {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}