body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background: rgb(36,36,36);
}

#grid-container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas:
    "item-1 item-2";
    height: 100%;
}

#grid-item-1 {
    grid-area: item-1;
    position: relative;
}

#grid-item-2 {
    grid-area: item-2;
    margin-left: 1px;
    width: 340px;
}

.icon {
    height: 30px;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    position: absolute;
    top: 10px;
}

#icon-1 {
    right: 10px;
    display: none;
}

#icon-2 {
    right: 300px;
}

#icon-3 {
    right: 86px;
}

#icon-4 {
    right: 48px;
}

.icon img {
    margin-top: 2px;
    align-items: center;
    height: 16px;
}

.icon:hover {
    background-color: rgba(255,255,255,0.15);
}

.icon:focus {
    outline: 0;
}