body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    user-select: none;
    background: rgb(14,14,14);
}

*:focus {
    outline: none;
}

.foreground {
    max-width: 100vw;
    max-height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    pointer-events: none;
    filter: blur(12px) brightness(25%);
    transform: scale(1.1);
}

button, input {
    position: absolute;
    right: 20px;
    background: none;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    filter: invert() opacity(25%);
    background-size: 100%;
    background-repeat: no-repeat;
}

input {
    padding-top: 30px;
    overflow: hidden;
    box-sizing: border-box;
}

#fullscreenButton {
    top: 20px;
    background-image: url(icons/enter-fullscreen.png);
}

#uploadFile {
    top: 70px;
    background-image: url(icons/upload.png);
}

button:hover, input:hover {
    filter: invert() opacity(50%);
}

.mySlides {
    display: none;
}

.arrowBackground {
    transition: .25s;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(0, -50%);
    position: absolute;
    z-index: -1;
}

.prev .arrowBackground {
    background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.next .arrowBackground {
    background: linear-gradient(-90deg, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.prev:hover .arrowBackground, .next:hover .arrowBackground {
    opacity: 1;
}

.prev, .next {
    display: none;
    padding: 0;
    width: 120px;
    height: 100%;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.next {
    right: 0;
}

.prev p, .next p {
    margin: 0;
    height: 100%;
    align-items: center;
    display: flex;
}

.next p {
    margin-right: 25px;
    justify-content: flex-end;
}

.prev p {
    margin-left: 25px;
}

.large {
    transform: translate(-50%, -50%) scale(1.5);
}